.cell {
    width: 90px;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;

    
    position: absolute;
}

.black {
    background-color: var(--light-orange);
}

.white {
    background-color: var(--wheat);
}