.cell {
    width: 90px;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.cell img {
    width: 48px;
    height: 48px;

    
    position: absolute;
}

.yCoordinates {
    position: absolute;
    left: -16px;
}

.xCoordinates {
    position: absolute;
    bottom: -24px;
}

.black {
    background-color: var(--light-orange);
}

.white {
    background-color: var(--wheat);
}

.selected {
    background-color: var(--blue);
}

.available {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--blue);
}

.canAttack {
    background-color: var(--green);
}

.kingIsCheck {
    background-color: var(--red);
}