.pageWrapper {
    margin: 0 auto;
    width: 1248px;

    margin-bottom: 48px;

    display: flex;
    flex-direction: column;
}

.pageWrapper a {
    text-decoration: none;
    color: var(--black);
}

.content {
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 24px;
}

.gameTitle,
.title {
    margin-top: 24px;
}

.section {
    margin-top: 48px;
}

.gameTitle {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: center;
}

.header {
    font-size: 1.5em;
}

.iconChessBoard {
    width: 48px;
    height: 48px;
}

.title,
.sectionHeader,
.subsectionHeader {
    font-weight: bold;
}

.title {
    font-size: 3em;

    align-self: center;
}

.sectionHeader {
    font-size: 2.25em;
}

.subsectionHeader {
    font-size: 2em;
}

.section {    
    display: flex;
    flex-direction: column;
}

.subsection {
    margin-top: 24px;
}

.paragraphContainer {
    display: flex;
    flex-direction: column;

    margin-top: 24px;
}

.paragraph {
    margin-top: 8px;
    font-size: 1.5em;
}

.image {
    margin-top: 24px;
    margin-bottom: 16px;

    align-self: center;
}